table{
    text-align: center;
    height: 500px;
    width: 700px;
    border-collapse: collapse;
}
th, td{
    padding:10px;
    border: 2px solid rgb(255, 255, 255);
    font-family:'Harry Potter', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;

}
img{
    border-radius: 5px;
    border: 1px solid rgb(247, 247, 247);
    height:100px;
     width:100px;
}
th{
    background-color: black;
    color: white;
    font-size: 16px;
  
}
td{
    background-color:rgba(0, 0, 0, .5);
    font-size: 14px;
 
}
.Slytherin:hover{
    background-color:  rgba(0, 255, 0,.6);;
}
.Gryffindor:hover{
    background-color: rgba(255, 0, 0,.6);
}
